@import url('https://fonts.googleapis.com/css?family=Acme|Amatic+SC|Cabin|Caveat|Exo|Exo+2|Francois+One|Gloria+Hallelujah|Kalam|Kavivanar|Lobster|Nanum+Pen+Script|Neucha|PT+Sans+Caption|Permanent+Marker|Rock+Salt');
body {
  background: repeating-radial-gradient(pink, powderblue); 
  display: block;
  margin-top: 10px;
  margin-left:10px;
  margin-right: 40px;

}
header {
  font-size: 40px;
  text-align: center;
  font-family: 'Papyrus', fantasy;
  font-style: italic;
  font: bold;
  color: black;
  margin: 30px;
}

.userid-show {
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  /* margin: 4em auto;
  width: 100px;
  height: 30px; */
  line-height: 50px;
  color: yellow;
  text-shadow: 2px 2px 8px palevioletred;
  font-weight: 600;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 20px;

}
.filter-sortBy {
  margin-top: 30px;
}

.filter-sortBy button{
  width: 110px;
  height: 45px;
  margin-right: 10px;
  margin-left: 5px;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  background-color:pink;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.filter:hover {
  background-color: blanchedalmond;
  box-shadow: 0px 15 px 20px palevioletred;
  color: palevioletred;

}

.editor-form label {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  vertical-align: middle;
}
.editor-body div{
  display: inline-block;
  text-align: center;
  
}

.editor-form textarea {
  background-color: rgb(252, 229, 188);
  padding: 10px;
  width: 48%;
}

.editor-form div input{
  background-color: rgb(252, 229, 188); 
  box-sizing: border-box;
  vertical-align: middle;
  margin: 5px;
  height: 20px;
  width: 50%;
}
.editor-form div{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  
}

div button[name=add] {
  margin: 4em auto;
  width: 100px;
  height: 50px;
  line-height: 30px;
  background:pink;
  color: black;
  font-weight: 700;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: 20px;
  border-radius: 90%;
  cursor: pointer;
}

div button[name=add]:hover {
  background-color: blanchedalmond;
  box-shadow: 0px 15 px 20px palevioletred;
  color: palevioletred;
}

.editor-panel button[type=submit] {
  background-color: pink;
  cursor: pointer;
  margin-right:20px;
  height: 30px;
}
.editor-panel button[type=submit]:hover {
  background-color: blanchedalmond;
  box-shadow: 0px 15 px 20px palevioletred;
  color: palevioletred;
}
.editor-panel button[type=reset] {
  background-color: pink;
  cursor: pointer;
  height: 30px;
}
.editor-panel button[type=reset]:hover {
  background-color: blanchedalmond;
  box-shadow: 0px 15 px 20px palevioletred;
  color: palevioletred;
}


.Content button {
  background-color: powderblue;
  cursor: pointer;
}

.Content p {
  padding: 20px;
  border: 5px solid navajowhite;
  background-color: palegoldenrod;
}


/* tags comboCheckbox part */
.multiselect {
  width: 250px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}